@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --LIGHTGRAY:#737373;
    --DARKBACKGROUND:rgb(0,0,0,0.7);
    --BLACKCOLOR:#000000;   
}

body{
    background-color: var(--BLACKCOLOR);
    font-family:Helvetica Neue, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
#wrapper-dark-background{
    position: relative;
    height: 119vh;
    width: 100%;
}
#netflixlogo-text{
    width: 220px;
    margin-left: 30px;
}
#wrapper-dark-background::before{
    content: "";
    background-image: url("/images/background.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
form{
    background-color:var(--DARKBACKGROUND);
    width: 450px;
    height: 660px;
    margin: auto;
    margin-bottom: 90px;
    padding: 60px 68px 40px 68px;
    border-radius: 5px;
    justify-content: center;
    box-sizing: border-box;
}

.wrapper-login-form-main{
    width: 314px;
    height: 380px;
}

#signin-text{
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 28px;
}

.EmailPhoneInput-login-input,.PasswordInput-login-input{
    padding: 0px 0px 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.EmailPhoneInput-login-input>label,.PasswordInput-login-input>label{
    position: absolute;
    font-size: 16px;
    color: var(--LIGHTGRAY);
    transform: translateX(20px);
}

#user-email,#user-password{
    background-color: #333333;
    padding: 16px 20px 0px;
    height: calc(50px - 16px);
    border: none;
    border-radius: 5px;
    width: calc(100% - 40px);
}

#signin-button{
    background-color: #e50914;
    font-size: 16px;
    margin: 24px 0px 12px;
    color: white;
    width: 100%;
    padding: 16px;
    border:none;
    border-radius: 5px;
}

.rememberme,#needhelp{
    color: var(--LIGHTGRAY);
    font-size: 50%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-rememberme{
    display: flex;
    align-items: center;
    justify-content: center;
}
#rememberme{
    margin-right: 5px;
}
#signup-text{
    color: var(--LIGHTGRAY);
    font-size: 16px;
    margin-top: 16px;
}
.signup-form-other{
    height: 180px;
    width: 100%;
}
#signup{
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 2px;
}
.reCAPTCHA-text{
    margin-top: 11px;
}
#captcha-text{
    color: var(--LIGHTGRAY);
    font-size: 13px;
}

#learnmore{
    color: #0d4ddd;
    text-decoration: none;
}

footer{
    padding: 0px 0px 20px;
    bottom: 0;
    background-color:var(--DARKBACKGROUND);
}

.site-footer{
    padding: 30px 0px;
    width: 50%;
    margin: auto;
    color: var(--LIGHTGRAY);
}

#footer-top{
    font-size: 16px;
    margin-bottom: 30px;
}

#helpline-no{
    color: var(--LIGHTGRAY);
    text-decoration: none;
}

#item-list{
    display:grid;
    grid-template-columns: auto auto auto auto;
    color: var(--LIGHTGRAY);
    font-size: 13px;
    margin: auto;
    width: 100%;
    list-style: none;
}

.footer-link-item{
    margin: 0px 0px 16px;
    padding: 0px 12px 0px 0px;
}

.lang-switcher{
    position: relative;
    width: 100%;
    margin: 20px 0px 0px;
}

#lang-selecter{
    padding: 12px 26px 12px 50px;
    position: relative;
    background-color: var(--DARKBACKGROUND);
    color: var(--LIGHTGRAY);
    font-size: 13px;
}
